.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.auth-card {
  background: grey;
  padding: 40px;
  border-radius: 12px;
  width: 350px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.auth-card h2 {
  margin-bottom: 20px;
  color: #333;
}

.auth-card form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-card input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.auth-card input:focus {
  outline: none;
  border-color:black;
}

.auth-btn {
  background:black;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.auth-btn:hover {
  background:grey;
}

.auth-card p {
  margin-top: 15px;
  font-size: 14px;
}

.auth-card a {
  color:black;
  font-weight: 600;
  text-decoration: none;
}
.home-link {
  display: inline-block;
  margin-bottom: 15px;
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 14px;
}

.home-link:hover {
  text-decoration: underline;
}
