.help-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f7fb;
  padding: 40px;
}

.help-card {
  background: white;
  padding: 40px;
  border-radius: 12px;
  width: 600px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.help-card h2 {
  margin-bottom: 10px;
  color: #333;
}

.help-card p {
  margin-bottom: 20px;
  color: #555;
}

.faq {
  margin-bottom: 20px;
}

.faq h3 {
  margin-bottom: 5px;
  color:black;
}

.faq p {
  font-size: 14px;
  color: #555;
}
.home-btn-container {
  margin-top: 25px;
  text-align: center;
}

.home-btn {
  display: inline-block;
  padding: 10px 20px;
  background:black;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.home-btn:hover {
  background: black;
}
